@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:wght@400;700&family=Tiro+Bangla&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
  font-family: 'Outfit', sans-serif; /* Achte auf den richtigen Font */
  background-color: #FFB0B0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Abstand zwischen Logo und Navigationselementen */
  align-items: center;
  padding: 20px 15%;
  border: 1px solid;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: auto; /* Logo nach links verschieben */
  color: #810B0B;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4em; /* Abstand zwischen den Listenelementen */
  font-size: 1.1em;
}

.nav-list a {
  text-decoration: none;
  color: #000; /* Standardfarbe der Links */
  transition: color 0.5s
}

.nav-list a:hover {
  color: #810B0B; /* Hover-Effekt */

}
