@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif; /* Achte auf den richtigen Font */
    background-color: #FFB0B0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0.8rem 10%;
}

.nav-item {
    list-style: none;
    margin-right: 4.5rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.2s, font-size 0.2s; 
}

.nav-item a:hover {
    color: #810B0B;
    font-size: 1.2rem;
}

.nav-item:first-child{
    margin-right:auto;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
   
}

.nav-item:first-child a {
    color: #810B0B;
    transition: color 0s; font-size: 0s;
}

.nav-item:first-child a:hover {
    font-size: 2rem;
    color: white; 
}